#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.matrix-table {
  border: 1px solid #ffffff;
  border-collapse: collapse;
  margin-left: 0.5em;
}

.matrix-table td {
  padding: 4px;
}

.matrix-table tr::before,
.matrix-table tr::after
{
  content: "";
  display: table-cell;
  width: 5px;
}

.matrix-table tr:first-child td {
  border-top: 1px solid transparent;
}

.matrix-table tr:last-child td {
  border-bottom: 1px solid transparent;
}

.mode-selector {
  display: block;
  list-style: none;
  padding: 0;
}

.mode-selector li {
  display: inline-block;
  margin: 1em;
  padding: 0.5em 1em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
}

.mode-selector li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.mode-selector li.active {
  border-color: #ffffff;
}